<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/comp/wh/Wh"
			class = "org.xtext.comp.wh.wh.WhPackage"
			genModel = "model/generated/Wh.genmodel" />
	</extension>
</plugin>
