body {
  margin: 0;
}

.right-col {
  flex: 50%;
  border-top: 1px solid #ccc;

  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.left-col {
  flex: 50%;
  border-top: 1px solid #ccc;

  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 95vh;
}

.editors {
  display: flex;
}

.whileEditor {
  height: 100%;
}

.TSEditor {
  flex: 5;
  max-height: 580px;
}

.modal {
  z-index: 11;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 500px;
}

.adding {
  display: flex;
}

.textArg {
  text-align: center;
  font-family: "Source Code Pro", sans-serif;
  line-height: 30px;
  background-color: #006dff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.arguments {
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #545454;
  font-family: "Source Code Pro", sans-serif;
  line-height: 30px;
  overflow-x: scroll;
  height: 30px;
}

.addArg {
  flex: 1 1;
  height: 52px;
  border: none;
  font-size: 40px;
  color: white;
  background-color: #0072ff;
}

.argInput {
  flex: 6;
  width: 70%;
  height: 52px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 0;
}

.arg {
  display: inline;
  background-color: #9e9e9e;
  margin-right: 5px;
  box-shadow: 0px 5px 25px 0px #656565;
  color:black;
  background-color: white;
  cursor: pointer;
  font-size: 17px;
}

.arg:hover {
  background-color: #ff4c4c;
  color: white;
}

.arg > .numero {
  background-color: #868b92;
  color: white;
  padding: 0 3px;
}

.arg > .text {
  padding: 0 3px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(47, 47, 47, 0.56);
}

.executeModal {
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.console {
  /*background-color: #242424;*/
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  border: 1px solid #4c4b4b;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 0px;
  font-family: "Source Code Pro", sans-serif;
  border-radius: 3px;
  flex: 2;
  width: 100%;
  overflow: scroll;
}

.react-codemirror2, .CodeMirror { height: 100%!important; } 

.compileButton {
  border-radius: 3px;
  position: absolute;
  left: 46.5%;
  transform: translateX(-50%);
  top: 36px;
  z-index: 10;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #242424;
  cursor: pointer;
}

.compileButton:hover {
  background-color: #242424;
  color: white;
}

.executeButton {
  position: absolute;
  right: 1%;
  top: 36px;
  z-index: 10;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #242424;
  cursor: pointer;
}

.executeButton:hover {
  background-color: #242424;
  color: white;
  border-radius: 3px;
}

.mainText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  padding: 4px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}



@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

.switchCode {
  border: none;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  top: 70px;
  right: 12px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.santa {
  position: absolute;
  top: 25%;
  right: 25%;
  transform: translateX(50%);
}

.closeModal {
  position: absolute;
  right: 31px;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
  top: 10px;
  font-weight: 700;
  font-family: "Source Code Pro";
}


/* LOADER */

/*.loader {
  position: absolute;
  top: 25vh;
  right: 20%;
}*/
.loader {
  position: absolute;
  top: 25%;
  right: 21%;
  z-index: 14;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff4c4c;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.snow, .winter-is-coming {
  z-index: 100;
  pointer-events: none;
}

.winter-is-coming {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}
.snow--near {
  animation-duration: 10s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  background-size: contain;
}
.snow--near + .snow--alt {
  animation-delay: 5s;
}
.snow--mid {
  animation-duration: 20s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  background-size: contain;
}
.snow--mid + .snow--alt {
  animation-delay: 10s;
}
.snow--far {
  animation-duration: 30s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  background-size: contain;
}
.snow--far + .snow--alt {
  animation-delay: 15s;
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}